<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Link Downloader</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    </head>
    <body>
        <h1>Downloaded-it</h1>
        <form action="/descargar" method="post">
            <input
                type="text"
                name="url"
                placeholder="Pega el link aquí..."
                required
            />
            <label for="formato"></label>
            <select name="calidad" id="calidad" class="select-calidad">
                <option value="alta">Alta (Mejor disponible)</option>
                <option value="baja">Baja (Ahorrar Datos)</option>
            </select>
            <br />
            <br />
            <button class="botonSubir" type="submit">¡Descargar ahora!</button>
        </form>
    </body>
</html>
